In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn 

import re

# SQL Connection
import pymysql                        
from sqlalchemy import create_engine  
from getpass import getpass

### Steps
- Importing recent and historical weather data
    - Recent data consists of data from 20220811 till now.
    - Historical data consists of data till 20221231 
    This means there will be overlapping time here and duplicates need to be removed. 
- Concatinating two datasets to one.
- Checking if some columns need to be dropped
- Checking for duplicates
- Sorting values in ascending/descending order. 
- Checking for null values
- Reseting index
- Checking column names
- Creating new columns for year, month, day
- Exporting files

#### Importing datasets

In [2]:
# Recent weather data 
df_recent = pd.read_csv('../WetterDienst/01 Recent/tageswerte_KL_00433_akt/produkt_klima_tag_20220811_20240211_00433.txt', sep=';')

In [3]:
df_recent.head()

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,433,20220811,10,7.4,2.7,9,0.0,0,13.5,-999,-999.0,11.0,1017.6,23.6,40.0,30.1,14.9,9.5,eor
1,433,20220812,10,10.6,2.8,9,0.0,0,13.1,-999,-999.0,12.0,1015.6,23.9,43.0,30.2,15.5,8.8,eor
2,433,20220813,10,9.7,2.3,9,0.2,4,2.4,-999,-999.0,16.2,1012.1,24.0,54.0,29.4,18.6,13.0,eor
3,433,20220814,10,10.0,2.7,9,0.0,0,12.2,-999,-999.0,16.6,1005.3,26.3,51.0,32.4,20.2,16.7,eor
4,433,20220815,10,13.8,3.0,9,20.4,4,7.0,-999,-999.0,19.7,999.7,23.8,69.0,31.7,19.3,16.0,eor

In [4]:
# Historical weather data 
df_hist = pd.read_csv('../WetterDienst/02 Historical/tageswerte_KL_00433_19480101_20221231_hist/produkt_klima_tag_19480101_20221231_00433.txt', sep=';')

In [5]:
df_hist.tail(10)

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
27384,433,20221222,3,10.4,2.8,3,3.9,6,-999.0,0,7.9,9.8,999.00,7.2,96.67,9.0,5.4,3.5,eor
27385,433,20221223,3,6.9,2.2,3,9.9,6,-999.0,0,7.7,9.3,998.04,6.5,96.50,7.5,5.2,3.0,eor
27386,433,20221224,3,7.6,2.8,3,2.1,6,-999.0,0,6.8,9.3,1004.05,6.5,95.58,8.9,5.0,4.4,eor
27387,433,20221225,3,7.5,2.3,3,8.7,6,-999.0,0,7.2,8.6,1010.09,4.9,98.08,9.4,0.7,-2.0,eor
27388,433,20221226,3,12.8,4.4,3,0.0,6,-999.0,0,7.7,10.2,1005.26,9.5,84.58,11.0,5.5,4.3,eor
27389,433,20221227,3,12.8,4.6,3,0.0,6,-999.0,0,4.8,6.5,1015.40,4.2,78.21,6.0,2.3,0.8,eor
27390,433,20221228,3,11.3,4.6,3,1.5,6,-999.0,0,7.8,7.7,1007.97,6.3,80.67,8.9,3.4,2.3,eor
27391,433,20221229,3,14.5,4.8,3,1.8,6,-999.0,0,7.6,9.2,999.82,10.0,75.29,12.7,8.0,6.4,eor
27392,433,20221230,3,11.1,4.1,3,2.0,6,-999.0,0,5.5,7.7,1005.19,7.6,73.75,9.7,5.0,3.4,eor
27393,433,20221231,3,16.3,5.9,3,0.0,6,-999.0,0,7.8,12.2,1002.30,14.8,73.13,17.9,9.2,7.7,eor

#### Concatinating two datasets

In [6]:
# Concatinating two datasets into one
df = pd.concat([df_recent, df_hist], axis=0)

In [7]:
df.head()

,STATIONS_ID,MESS_DATUM,QN_3,FX,FM,QN_4,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,eor
0,433,20220811,10,7.4,2.7,9,0.0,0,13.5,-999,-999.0,11.0,1017.6,23.6,40.0,30.1,14.9,9.5,eor
1,433,20220812,10,10.6,2.8,9,0.0,0,13.1,-999,-999.0,12.0,1015.6,23.9,43.0,30.2,15.5,8.8,eor
2,433,20220813,10,9.7,2.3,9,0.2,4,2.4,-999,-999.0,16.2,1012.1,24.0,54.0,29.4,18.6,13.0,eor
3,433,20220814,10,10.0,2.7,9,0.0,0,12.2,-999,-999.0,16.6,1005.3,26.3,51.0,32.4,20.2,16.7,eor
4,433,20220815,10,13.8,3.0,9,20.4,4,7.0,-999,-999.0,19.7,999.7,23.8,69.0,31.7,19.3,16.0,eor

In [8]:
df.shape

(27944, 19)

In [9]:
df_hist.shape

(27394, 19)

In [10]:
df_recent.shape

(550, 19)

#### Dropping columns, which will not be needed for further analysis
- QN_3 : quality level of the following columns
- QN_4 : quality level of the following columns
- eor : column which was added because of the format of source file

In [11]:
df = df.drop(["QN_3", "QN_4", "eor"], axis=1)

In [12]:
df.shape

(27944, 16)

#### Checking for duplicates

In [13]:
df = df.drop_duplicates()

In [14]:
df.shape

(27938, 16)

In [15]:
df_sort = df.sort_values(by='MESS_DATUM', ascending=False) # Sorting in descending order

In [16]:
df_sort.tail()

,STATIONS_ID,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
4,433,19480105,-999.0,-999.0,2.0,1,-999.0,0,7.7,9.8,987.8,10.5,78.0,12.0,8.0,5.9
3,433,19480104,-999.0,-999.0,0.2,1,-999.0,0,8.0,10.2,999.8,10.2,83.0,11.5,6.6,4.7
2,433,19480103,-999.0,-999.0,4.0,1,-999.0,0,5.3,9.8,1001.7,8.5,86.0,10.6,5.2,4.6
1,433,19480102,-999.0,-999.0,3.3,1,-999.0,8,8.0,7.9,999.7,4.4,95.0,6.8,-2.7,-2.5
0,433,19480101,-999.0,-999.0,5.7,8,-999.0,4,5.0,4.9,1010.7,-1.8,89.0,0.8,-5.0,-4.7

In [17]:
df_sort.drop_duplicates(subset=['MESS_DATUM'], keep='first', inplace=True)
df_sort.shape

(27801, 16)

#### Checking for null values

In [18]:
df_sort.isna().sum().sum()

0

#### Reset index

In [19]:
df = df_sort.reset_index(drop=True)

In [20]:
df.head()

,STATIONS_ID,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,433,20240211,10.1,4.3,9.7,6,-999.0,0,7.9,10.3,985.30,8.1,95.00,9.4,6.5,5.9
1,433,20240210,8.2,2.5,1.3,6,-999.0,0,8.0,11.2,985.61,9.9,92.13,14.0,6.7,4.6
2,433,20240209,9.8,3.5,6.8,6,-999.0,0,7.8,7.7,986.30,3.6,95.92,7.9,0.6,-0.1
3,433,20240208,7.0,2.0,3.9,8,-999.0,0,7.7,6.1,996.13,1.1,91.33,4.1,-2.0,-4.8
4,433,20240207,15.2,5.7,0.0,6,-999.0,0,7.8,6.5,995.80,4.6,76.08,9.2,-0.5,-4.2

#### Column names

In [21]:
df.columns

Index(['STATIONS_ID', 'MESS_DATUM', '  FX', '  FM', ' RSK', 'RSKF', ' SDK',
       'SHK_TAG', '  NM', ' VPM', '  PM', ' TMK', ' UPM', ' TXK', ' TNK',
       ' TGK'],
      dtype='object')

In [22]:
col_new = []

In [23]:
for col in df.columns:
    col = col.strip() # removing whitestrips
    col_new.append(col)

col_new

['STATIONS_ID',
 'MESS_DATUM',
 'FX',
 'FM',
 'RSK',
 'RSKF',
 'SDK',
 'SHK_TAG',
 'NM',
 'VPM',
 'PM',
 'TMK',
 'UPM',
 'TXK',
 'TNK',
 'TGK']

In [24]:
df.columns = col_new

In [25]:
df.head()

,STATIONS_ID,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,433,20240211,10.1,4.3,9.7,6,-999.0,0,7.9,10.3,985.30,8.1,95.00,9.4,6.5,5.9
1,433,20240210,8.2,2.5,1.3,6,-999.0,0,8.0,11.2,985.61,9.9,92.13,14.0,6.7,4.6
2,433,20240209,9.8,3.5,6.8,6,-999.0,0,7.8,7.7,986.30,3.6,95.92,7.9,0.6,-0.1
3,433,20240208,7.0,2.0,3.9,8,-999.0,0,7.7,6.1,996.13,1.1,91.33,4.1,-2.0,-4.8
4,433,20240207,15.2,5.7,0.0,6,-999.0,0,7.8,6.5,995.80,4.6,76.08,9.2,-0.5,-4.2

In [26]:
df["SDK"].value_counts()

SDK
-999.000    8876
 0.000      3867
 0.100       419
 0.200       276
 0.300       238
            ...
 2.750         1
 0.117         1
 10.133        1
 12.350        1
 1.617         1
Name: count, Length: 420, dtype: int64

#### Columns- year, month, day

In [27]:
# For further analysis I will need to have separete columns with year, month and day

In [28]:
df["MESS_DATUM"].dtype

dtype('int64')

In [29]:
df["MESS_DATUM"] = df["MESS_DATUM"].astype(str)  # Source: https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/
df['year'] = df['MESS_DATUM'].str[:4].astype(int)
df['month'] = df['MESS_DATUM'].str[4:6].astype(int)
df['day'] = df['MESS_DATUM'].str[6:].astype(int)

In [30]:
df.head()

,STATIONS_ID,MESS_DATUM,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK,year,month,day
0,433,20240211,10.1,4.3,9.7,6,-999.0,0,7.9,10.3,985.30,8.1,95.00,9.4,6.5,5.9,2024,2,11
1,433,20240210,8.2,2.5,1.3,6,-999.0,0,8.0,11.2,985.61,9.9,92.13,14.0,6.7,4.6,2024,2,10
2,433,20240209,9.8,3.5,6.8,6,-999.0,0,7.8,7.7,986.30,3.6,95.92,7.9,0.6,-0.1,2024,2,9
3,433,20240208,7.0,2.0,3.9,8,-999.0,0,7.7,6.1,996.13,1.1,91.33,4.1,-2.0,-4.8,2024,2,8
4,433,20240207,15.2,5.7,0.0,6,-999.0,0,7.8,6.5,995.80,4.6,76.08,9.2,-0.5,-4.2,2024,2,7

In [31]:
# Dropping hte column with MESS_DATUM, STATIONS_ID
df = df.drop(["STATIONS_ID", "MESS_DATUM"], axis=1)

In [32]:
# Rearrenging columns
df.columns

Index(['FX', 'FM', 'RSK', 'RSKF', 'SDK', 'SHK_TAG', 'NM', 'VPM', 'PM', 'TMK',
       'UPM', 'TXK', 'TNK', 'TGK', 'year', 'month', 'day'],
      dtype='object')

In [33]:
df = df[['year','month', 'day', 'FX', 'FM', 'RSK', 'RSKF', 'SDK', 'SHK_TAG', 'NM', 'VPM', 'PM', 'TMK', 'UPM', 'TXK', 'TNK', 'TGK']] 
df.head(2)

,year,month,day,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,2024,2,11,10.1,4.3,9.7,6,-999.0,0,7.9,10.3,985.30,8.1,95.00,9.4,6.5,5.9
1,2024,2,10,8.2,2.5,1.3,6,-999.0,0,8.0,11.2,985.61,9.9,92.13,14.0,6.7,4.6

#### Exploring data set

In [34]:
precipitation_yearly = df.pivot_table(index= ['year'], values = ['RSK'], aggfunc = 'sum')
precipitation_yearly

          RSK
year
1948    628.7
1949    496.5
1950    618.8
1951    515.8
1952    493.9
...       ...
2020    478.8
2021    532.4
2022    389.3
2023 -15254.8
2024     93.4

[77 rows x 1 columns]

In [35]:
# there are values "-999" in some columns. They are meaning to be null value, so I will change them. 
# I came to the conclusion after reading data in MySQL, so I repeat this steps.

In [36]:
df["RSK"].dtype

dtype('float64')

In [37]:
def convert_hide_nulls(value):
    if value == -999:
        new_value = 0
    else:
        new_value = value        
    return new_value

In [38]:
df['RSK'] = df['RSK'].apply(convert_hide_nulls)

In [39]:
df['FX'] = df['FX'].apply(convert_hide_nulls)
df['FM'] = df['FM'].apply(convert_hide_nulls)
df['RSKF'] = df['RSKF'].apply(convert_hide_nulls)
df['SDK'] = df['SDK'].apply(convert_hide_nulls)
df['SHK_TAG'] = df['SHK_TAG'].apply(convert_hide_nulls)
df['NM'] = df['NM'].apply(convert_hide_nulls)
df['VPM'] = df['VPM'].apply(convert_hide_nulls)
df['PM'] = df['PM'].apply(convert_hide_nulls)
df['NM'] = df['NM'].apply(convert_hide_nulls)
df['UPM'] = df['UPM'].apply(convert_hide_nulls)

In [40]:
df.head()

,year,month,day,FX,FM,RSK,RSKF,SDK,SHK_TAG,NM,VPM,PM,TMK,UPM,TXK,TNK,TGK
0,2024,2,11,10.1,4.3,9.7,6,0.0,0,7.9,10.3,985.30,8.1,95.00,9.4,6.5,5.9
1,2024,2,10,8.2,2.5,1.3,6,0.0,0,8.0,11.2,985.61,9.9,92.13,14.0,6.7,4.6
2,2024,2,9,9.8,3.5,6.8,6,0.0,0,7.8,7.7,986.30,3.6,95.92,7.9,0.6,-0.1
3,2024,2,8,7.0,2.0,3.9,8,0.0,0,7.7,6.1,996.13,1.1,91.33,4.1,-2.0,-4.8
4,2024,2,7,15.2,5.7,0.0,6,0.0,0,7.8,6.5,995.80,4.6,76.08,9.2,-0.5,-4.2

In [41]:
df.dtypes

year         int32
month        int32
day          int32
FX         float64
FM         float64
RSK        float64
RSKF         int64
SDK        float64
SHK_TAG      int64
NM         float64
VPM        float64
PM         float64
TMK        float64
UPM        float64
TXK        float64
TNK        float64
TGK        float64
dtype: object

#### Exporting

In [42]:
# Exporting csv file
df.to_csv('climat_clean.csv')

In [43]:
# Exporting EXCEL file
df.to_excel('climat_clean.xlsx', index=False)

In [ ]:
password = getpass()

In [ ]:
connection_string = 'mysql+pymysql://root:'+password+'@localhost/project_trees' 
engine = create_engine(connection_string)

In [ ]:
# Exporting DataFrame to MySQL
table_name = 'climat'
df.to_sql(table_name, engine, index=False, if_exists='replace')